.ant-table-thead > tr > th {
	border: none;
	color: gray;
	background-color: rgba(0, 0, 0, 0);
}

.scrollBar::-webkit-scrollbar {
	width: 1px;
	background: red;
}
td:nth-child(1) {
	width: 60px;
}

table,
.ant-table {
	/* background-color: rgba(0, 0, 0, 0) !important; */
	background-color: rgba(0, 0, 0, 0);
}
