@import "~antd/dist/antd.min.css";

.ant-layout-header {
	color: #fff;
	background: linear-gradient(to right, #e9ebfa, #f8f9fd);
	height: auto;
	padding: 0 20px;
}

.ant-layout-content {
	min-height: 100vh;
	color: #fff;
	line-height: 120px;
	background: linear-gradient(to right, #e9ebfa, #f8f9fd);
}
