.header-body {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}
.brand {
	color: black;
	font-size: 24px;
	font-weight: 650;
}
.buttons {
	min-width: 300px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.add-button {
	text-transform: uppercase;
	background: pink;
	color: white;
	border-radius: 8px;
	height: 40px;
	width: 150px;
	box-shadow: 5px 5px 50px pink;
	font-weight: 500;
}

.search {
	background: #2432b9;
	border: none;
	border-radius: 4px;
}
.menu {
	background: white;
	border: none;
	border-radius: 4px;
}
